@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
  }
  
  li {
    list-style-type: none; /* remove default stylings from lists */
  }
  
  p {
    line-height: 1.5;
    font-size: 16px;
    font-weight: 300;
  }
  a {
    text-decoration: none;
  }
  
  b {
    font-weight: 600;
  }
  
  button {
    cursor: pointer;
  }
  section {
    background-color: rgb(245, 245, 245);
    transition: all 600ms ease;
  }
  
  .icon {
    width: 34px;
  }
  
  #git{
    background-color: white;
    width: 38px;
  }

  .container {
    padding: 50px 0;
    width: 100%;
  }
  
  .row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
  }
  
  
  
  .title {
    font-size: 120px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
    font-weight: 300;
  }
  
  .orange {
    color: blue !important;
  }
  
  
  nav,
  .scroll,
  .header {
    opacity: 1;
    visibility: visible;
    transition: all 600ms 800ms;
  }
  
  
  
  .dark-theme .title,
  .dark-theme .section__title,
  .dark-theme .section__sub-title,
  .dark-theme .nav__link--anchor,
  .dark-theme .fa-circle-half-stroke,
  .dark-theme .header__para {
    color: white;
  }
  
  .dark-theme section {
    background-color: #111111;
  }
  
  
  .dark-theme .scroll__icon {
    border-color: white;
  }
  
  .dark-theme .scroll__icon:after,
  .dark-theme .link__hover-effect--black:after {
    background-color: white;
  }
  
  .dark-theme .mail__btn {
    background-color: white;
    color: #111111;
  }
  .dark-theme .portugal__btn {
    background-color: white;
  }
  .dark-theme .uk__btn {
    background-color: white;
  }